@model PagedList.IPagedList<TechnoShop.Models.Client>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Clients";
}

<h2>Clients</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Client", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Pseudo", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            First Name
        </th>
        <th>
            @Html.ActionLink("Adresse", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pseudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mdp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>

            <th>
                @Html.ActionLink("pseudo", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("adresse", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("email", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("mdp", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>


            <th></th>

            <th></th>
        </tr>
    }


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pseudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mdp)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDClient }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDClient }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDClient })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
